@import url('style-blessed1.css?z=1565638866618');


@media (max-width: 1199.98px) {
  .footer_5 .hr {
    margin-top: 30px; }
  .footer_5 .socials {
    margin-top: 20px; }
  .footer_5 .logo, .footer_5 .title {
    margin-bottom: 15px; } }

@media (max-width: 991.98px) {
  .footer_6 .hr {
    margin: 0 0 50px 0; }
  .footer_6 .title {
    margin-bottom: 15px; }
  .footer_6 .links a {
    margin-bottom: 10px; } }

@media (max-width: 575.98px) {
  .footer_7 .link {
    margin: 0 10px; } }

@media (max-width: 1199.98px) {
  .footer_8 a {
    margin: 0 10px; } }

@media (max-width: 1199.98px) {
  .footer_9 form {
    margin-bottom: 40px; }
  .footer_9 .title {
    margin-bottom: 15px; }
  .footer_9 .links a {
    margin-bottom: 10px; } }

@media (max-width: 991.98px) {
  .footer_10 .socials {
    margin-top: 15px; }
  .footer_10 .logo, .footer_10 .title {
    margin-bottom: 15px; } }

@media (max-width: 991.98px) {
  .footer_11 a {
    margin: 0 10px; } }

@media (max-width: 991.98px) {
  .footer_12 {
    padding-top: 50px; }
    .footer_12 .text-adaptive {
      margin-top: 30px; } }

@media (max-width: 991.98px) {
  .footer_13 a {
    margin: 0 10px; } }

/* 15. Ecommerce */
.ecommerce_1 .product .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_1 .product .img_link:hover img {
  opacity: 0.8; }

.ecommerce_1 .product .btn {
  left: 0;
  bottom: 0; }

@media (max-width: 1199.98px) {
  .ecommerce_1 .main_info .btn {
    margin-top: 30px; } }

.ecommerce_2 .product {
  border: 2px solid #EBEAED; }
  .ecommerce_2 .product.big {
    min-height: calc(100% - 30px); }
    .ecommerce_2 .product.big ul {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2; }
  .ecommerce_2 .product li {
    list-style: none;
    position: relative; }
    .ecommerce_2 .product li:before {
      content: "";
      display: block;
      position: absolute;
      top: 11px;
      left: -10px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #041E33; }

@media (max-width: 575.98px) {
  .ecommerce_2 .product {
    max-width: 290px;
    padding: 20px 20px 30px 20px; }
    .ecommerce_2 .product.big ul {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1; }
    .ecommerce_2 .product .left {
      margin-right: 0; }
    .ecommerce_2 .product img {
      width: 100%;
      max-width: 100%; } }

.ecommerce_3 .product .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_3 .product .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 991.98px) {
  .ecommerce_3 h2 {
    margin-bottom: 10px; }
  .ecommerce_3 .products {
    margin-top: 0; }
    .ecommerce_3 .products .text-adaptive {
      max-width: 100%; } }

@media (max-width: 575.98px) {
  .ecommerce_3 .product {
    max-width: 290px; } }

.ecommerce_4 .filter {
  z-index: 1000; }

.ecommerce_4 .dropdown-menu {
  box-shadow: 0px 15px 40px rgba(114, 114, 114, 0.3); }

.ecommerce_4 .link_holder {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_4 .link_holder:hover {
    background: #EBEAED; }

.ecommerce_4 .product .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_4 .product .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 767.98px) {
  .ecommerce_4 h2 {
    margin-bottom: 10px; }
  .ecommerce_4 .dropdown {
    margin-left: 10px;
    margin-right: 10px; } }

.ecommerce_5 .dropdown {
  z-index: 1000; }

.ecommerce_5 .dropdown-menu {
  box-shadow: 0px 15px 40px rgba(114, 114, 114, 0.3); }

.ecommerce_5 .link_holder {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_5 .link_holder:hover {
    background: #EBEAED; }

.ecommerce_5 .product .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_5 .product .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 991.98px) {
  .ecommerce_5 .categories {
    margin-top: 10px; }
  .ecommerce_5 .category {
    margin-left: 10px;
    margin-right: 10px; }
  .ecommerce_5 .product {
    margin-bottom: 0; } }

.ecommerce_6 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_6 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 767.98px) {
  .ecommerce_6 {
    padding-top: 80px; }
    .ecommerce_6 .bg {
      max-width: 100%;
      height: auto; }
    .ecommerce_6 .inner {
      padding-top: 40px;
      padding-bottom: 80px; }
    .ecommerce_6 .buttons {
      margin-top: 30px; } }

.ecommerce_7 .categories a {
  border-bottom: 2px solid transparent; }
  .ecommerce_7 .categories a:hover {
    border-color: #0b5692; }

.ecommerce_7 .categories .active {
  color: #041E33;
  border-color: #041E33; }
  .ecommerce_7 .categories .active:hover {
    border-color: #041E33; }

.ecommerce_7 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_7 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_7 input[type=radio]:checked + label:before {
  content: "\f00c";
  color: #ffffff; }

.ecommerce_7 input[type=radio] + label:before {
  border: none;
  line-height: 20px;
  color: #ffffff; }

@media (max-width: 991.98px) {
  .ecommerce_7 .categories {
    margin-top: 20px; }
    .ecommerce_7 .categories a {
      margin: 5px 8px 0 8px;
      font-size: 16px;
      line-height: 26px; } }

@media (max-width: 575.98px) {
  .ecommerce_7 .product {
    max-width: 290px; } }

.ecommerce_8 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_8 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 575.98px) {
  .ecommerce_8 .product {
    max-width: 290px; } }

@media (max-width: 767.98px) {
  .ecommerce_9 {
    padding-top: 80px; }
    .ecommerce_9 .bg {
      max-width: 100%;
      height: auto; }
    .ecommerce_9 .inner {
      padding-top: 40px;
      padding-bottom: 80px; }
    .ecommerce_9 .prices {
      margin-top: 40px; } }

.ecommerce_10 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_10 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 1199.98px) {
  .ecommerce_10 .inner {
    padding: 0; }
  .ecommerce_10 .title {
    font-size: 18px;
    line-height: 28px; } }

@media (max-width: 575.98px) {
  .ecommerce_10 .product {
    margin-bottom: 0;
    max-width: 370px; } }

.ecommerce_11 .slick-arrow {
  margin-top: 0;
  top: -90px;
  width: 50px;
  height: 50px; }
  .ecommerce_11 .slick-arrow:before {
    width: 50px;
    height: 50px;
    border: 2px solid #EBEAED;
    border-radius: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .ecommerce_11 .slick-arrow:hover:before {
    opacity: 1;
    background-color: #ffffff; }

.ecommerce_11 .slick-prev {
  left: auto;
  right: 75px; }
  .ecommerce_11 .slick-prev:before {
    background: #EBEAED url(../i/slick-arrow-left-dark.svg) no-repeat 50% 50%;
    background-size: 7px auto; }

.ecommerce_11 .slick-next {
  right: 15px; }
  .ecommerce_11 .slick-next:before {
    background: #EBEAED url(../i/slick-arrow-right-dark.svg) no-repeat 50% 50%;
    background-size: 7px auto; }

.ecommerce_11 .holder:hover .inner {
  opacity: 1; }

.ecommerce_11 .inner {
  top: 0;
  left: 0;
  background: rgba(0, 112, 158, 0.7);
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_11 .inner .btn {
    min-width: 145px; }

.ecommerce_11 input[type=radio]:checked + label {
  background: #ffffff;
  color: #041E33; }

.ecommerce_11 input[type=radio] + label {
  height: 50px;
  line-height: 46px;
  border: 2px solid #EBEAED;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_11 input[type=radio] + label:before {
    display: none; }
  .ecommerce_11 input[type=radio] + label:hover {
    color: #041E33; }

@media (max-width: 575.98px) {
  .ecommerce_11 .header_holder {
    padding-right: 0; }
  .ecommerce_11 .slick-arrow {
    top: 10px; } }

.ecommerce_12 .product {
  border: 2px solid #EBEAED; }
  .ecommerce_12 .product li {
    list-style: none;
    position: relative; }
    .ecommerce_12 .product li:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background: #041E33; }
  .ecommerce_12 .product .btn {
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.ecommerce_12 .img_link img {
  margin: -2px -2px 0 -2px;
  max-width: calc(100% + 4px);
  min-width: calc(100% + 4px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_12 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 575.98px) {
  .ecommerce_12 .product {
    max-width: 370px;
    padding-bottom: 30px; }
    .ecommerce_12 .product .btn {
      position: static;
      -webkit-transform: none;
              transform: none; }
  .ecommerce_12 .title {
    font-size: 18px;
    line-height: 28px; } }

.ecommerce_13 .category {
  border: 2px solid #EBEAED; }
  .ecommerce_13 .category .btn {
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.ecommerce_13 .img_link img {
  margin: -2px -2px 0 -2px;
  max-width: calc(100% + 4px);
  min-width: calc(100% + 4px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_13 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_14 {
  background: #00709e no-repeat 50% 50%;
  background-size: cover; }
  .ecommerce_14 .product {
    overflow: hidden; }
  .ecommerce_14 .img_link img {
    min-height: 100%;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
  .ecommerce_14 .img_link:hover img {
    opacity: 0.8; }
  .ecommerce_14 .stars .active {
    color: #F2C94C; }
  .ecommerce_14 .stars .absolute {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  @media (max-width: 991.98px) {
    .ecommerce_14 .img_link img {
      width: 100%;
      min-height: 0; } }

.ecommerce_15 .slider_menu a img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_15 .slider_menu a:hover img {
  opacity: 0.8; }

.ecommerce_15 .stars .active {
  color: #F2C94C; }

.ecommerce_15 .stars .absolute {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

@media (max-width: 767.98px) {
  .ecommerce_15 h2 {
    margin-top: 0px;
    margin-bottom: 5px; }
  .ecommerce_15 .btn {
    margin-top: 50px; } }

.ecommerce_16 .dropdown {
  z-index: 1000; }

.ecommerce_16 .dropdown-menu {
  box-shadow: 0px 15px 40px rgba(114, 114, 114, 0.3); }

.ecommerce_16 .link_holder {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_16 .link_holder:hover {
    background: #EBEAED; }

.ecommerce_16 input[type=radio]:checked + label:before {
  content: "\f00c";
  color: #ffffff; }

.ecommerce_16 input[type=radio] + label:before {
  border: none;
  line-height: 20px;
  color: #ffffff; }

@media (max-width: 1199.98px) {
  .ecommerce_16 .inner {
    margin-left: 0;
    width: 390px; } }

@media (max-width: 991.98px) {
  .ecommerce_16 .categories {
    margin-top: 10px; }
  .ecommerce_16 .category {
    margin-left: 10px;
    margin-right: 10px; } }

@media (max-width: 767.98px) {
  .ecommerce_16 .product {
    max-width: 370px; }
    .ecommerce_16 .product .img {
      width: 100%; }
  .ecommerce_16 .inner {
    max-width: 100%; }
  .ecommerce_16 .price {
    margin-left: 0; } }

.ecommerce_17 {
  background: #00709e no-repeat 50% 50%;
  background-size: cover; }
  .ecommerce_17 .holder:hover .inner {
    opacity: 1; }
  .ecommerce_17 .inner {
    top: 0;
    left: 0;
    background: rgba(0, 112, 158, 0.7);
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }

.ecommerce_18 .ecommerce_18_nav {
  z-index: 1000; }

.ecommerce_18 .dropdown-menu {
  box-shadow: 0px 15px 40px rgba(114, 114, 114, 0.3); }

.ecommerce_18 .link_holder {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_18 .link_holder:hover {
    background: #EBEAED; }

.ecommerce_18 .img_link img {
  min-height: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_18 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_18 .buttons {
  left: 0;
  bottom: 10px; }

@media (max-width: 991.98px) {
  .ecommerce_18 .inner {
    margin-left: 0;
    padding-bottom: 0; }
  .ecommerce_18 .buttons {
    position: static; } }

@media (max-width: 575.98px) {
  .ecommerce_18 .product {
    max-width: 370px; }
    .ecommerce_18 .product .img_link img {
      width: 100%; } }

.ecommerce_19 .product {
  border: 2px solid #EBEAED; }
  .ecommerce_19 .product.big {
    min-height: calc(100% - 30px); }
  .ecommerce_19 .product .img, .ecommerce_19 .product .slider {
    margin-top: -2px;
    margin-right: -2px;
    margin-bottom: -2px; }
  .ecommerce_19 .product .slider {
    overflow: hidden; }
    .ecommerce_19 .product .slider .slick-list, .ecommerce_19 .product .slider .slick-track, .ecommerce_19 .product .slider .slick-slide {
      height: 100%; }
  .ecommerce_19 .product .slider_menu {
    max-width: 100%; }

@media (max-width: 1199.98px) {
  .ecommerce_19 .product.small {
    width: calc(50% - 15px); }
    .ecommerce_19 .product.small .inner {
      padding-left: 20px;
      padding-right: 20px; }
  .ecommerce_19 .product.big .inner {
    padding-left: 30px; } }

@media (max-width: 767.98px) {
  .ecommerce_19 .product.small {
    width: 100%; }
  .ecommerce_19 .product .slider {
    margin: -2px;
    width: auto;
    border-radius: 10px 10px 0 0; }
    .ecommerce_19 .product .slider img {
      width: 100%; } }

@media (max-width: 369.98px) {
  .ecommerce_19 .product.big .inner {
    padding: 20px; }
  .ecommerce_19 .product.big .title {
    font-size: 18px;
    line-height: 28px; }
  .ecommerce_19 .product.big .btn {
    width: 100%; }
  .ecommerce_19 .product.big .slider_menu img {
    margin: 0 auto; }
  .ecommerce_19 .product.small {
    display: block !important; }
    .ecommerce_19 .product.small .img {
      margin: -2px;
      width: calc(100% + 4px);
      max-width: calc(100% + 4px);
      border-radius: 10px 10px 0 0; } }

.ecommerce_20 .category {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_20 .category:hover {
    background: #EBEAED; }

.ecommerce_20 .product .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_20 .product .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 991.98px) {
  .ecommerce_20 h2 {
    margin-bottom: 20px; } }

@media (max-width: 359.98px) {
  .ecommerce_20 .title {
    font-size: 22px;
    line-height: 32px; } }

.ecommerce_21 .category {
  border: 2px solid #EBEAED;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_21 .category:hover {
    border-color: #00709e; }

.ecommerce_21 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_21 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 1199.98px) {
  .ecommerce_21 .inner {
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 575.98px) {
  .ecommerce_21 .category {
    max-width: 320px; } }

.ecommerce_22 .ecommerce_22_nav {
  z-index: 1000; }

.ecommerce_22 .dropdown-menu {
  box-shadow: 0px 15px 40px rgba(114, 114, 114, 0.3); }

.ecommerce_22 .link_holder {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_22 .link_holder:hover {
    background: #EBEAED; }

.ecommerce_22 .category {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_22 .category:hover {
    background: #EBEAED; }

.ecommerce_22 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_22 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 1199.98px) {
  .ecommerce_22[class^="pb-"], .ecommerce_22[class*=" pb-"] {
    padding-bottom: 30px; }
  .ecommerce_22 .btn {
    margin-right: 0; } }

.ecommerce_23 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_23 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 1199.98px) {
  .ecommerce_23 .buttons {
    margin-top: 50px; } }

@media (max-width: 767.98px) {
  .ecommerce_23 {
    padding-top: 80px; }
    .ecommerce_23 .bg {
      max-width: 100%;
      height: auto;
      border-radius: 10px; }
    .ecommerce_23 .inner {
      padding-top: 40px;
      padding-bottom: 80px; }
    .ecommerce_23 .buttons {
      margin-top: 30px; } }

.ecommerce_24 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_24 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 767.98px) {
  .ecommerce_24 {
    padding: 80px 0; }
    .ecommerce_24 .bg {
      max-width: 100%;
      height: auto;
      max-height: 80vh;
      border-radius: 10px; }
    .ecommerce_24 .inner {
      padding-top: 0;
      padding-bottom: 0; }
    .ecommerce_24 .title_price {
      width: 100%; } }

@media (max-width: 575.98px) {
  .ecommerce_24 .product {
    max-width: 370px; }
    .ecommerce_24 .product img {
      width: 100%; }
  .ecommerce_24 .inner {
    margin-left: 0; } }

.ecommerce_25 {
  background: #00709e no-repeat 50% 50%;
  background-size: cover; }

.ecommerce_26 .product:hover .inner {
  opacity: 1; }

.ecommerce_26 .inner {
  top: 0;
  left: 0;
  background: rgba(0, 112, 158, 0.7);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  overflow: auto; }

@media (max-width: 767.98px) {
  .ecommerce_26 .main_btn {
    margin-top: 25px; } }

@media (max-width: 767.98px) {
  .ecommerce_28 .btn {
    margin-top: 40px; } }

.ecommerce_29 .inner {
  border: 2px solid #EBEAED; }

.ecommerce_29 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_29 .img_link:hover img {
  opacity: 0.8; }

@media (max-width: 991.98px) {
  .ecommerce_29 .socials {
    margin-top: 20px; } }

@media (max-width: 575.98px) {
  .ecommerce_29 .inner {
    padding: 30px; }
  .ecommerce_29 .images {
    padding: 0; }
    .ecommerce_29 .images .img_link {
      width: calc(100% / 2 - 30px); }
    .ecommerce_29 .images img {
      width: 100%; } }

.ecommerce_30 .holder {
  border: 2px solid #EBEAED; }

.ecommerce_30 .bg {
  top: -2px;
  right: -2px;
  bottom: -2px;
  background-color: #00709e;
  background-position: 50% 50%;
  background-size: cover; }

.ecommerce_30 .product.big .bg {
  width: 300px;
  border-radius: 0 10px 10px 0; }

.ecommerce_30 .product.big .inner {
  margin-right: 320px; }

.ecommerce_30 .product.small .bg {
  left: -2px;
  border-radius: 10px; }

@media (max-width: 1199.98px) {
  .ecommerce_30 .inner {
    padding-bottom: 50px; }
  .ecommerce_30 .product.big .bg {
    width: auto;
    left: -2px;
    border-radius: 10px; }
  .ecommerce_30 .product.big .inner {
    margin-right: 0; }
  .ecommerce_30 .product.big .subtitle, .ecommerce_30 .product.big h2 {
    color: #ffffff; } }

@media (max-width: 991.98px) {
  .ecommerce_30 .inner {
    padding: 50px 30px; } }

@media (max-width: 469.98px) {
  .ecommerce_30 .inner {
    padding: 40px 20px; } }

.ecommerce_31 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_31 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_31 .btn_play {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.ecommerce_31 input[type=radio]:checked + label:before {
  content: "\f00c";
  color: #ffffff;
  text-align: center; }

.ecommerce_31 input[type=radio] + label:before {
  border: none;
  width: 22px;
  height: 22px;
  line-height: 22px;
  color: #ffffff; }

.ecommerce_31 input[type=radio] + label {
  margin: 0 2px;
  width: 22px;
  height: 22px; }

.ecommerce_31 .colors_border {
  border: 2px solid #EBEAED;
  padding: 0 12px; }

.ecommerce_31 .quantity_selector {
  border: 2px solid #EBEAED;
  overflow: hidden; }
  .ecommerce_31 .quantity_selector .control {
    width: 36px;
    line-height: 36px;
    background: transparent; }
    .ecommerce_31 .quantity_selector .control:hover {
      background: #EBEAED; }
    .ecommerce_31 .quantity_selector .control::-moz-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_31 .quantity_selector .control::-webkit-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_31 .quantity_selector .control::selection {
      background: transparent;
      color: #041E33; }
  .ecommerce_31 .quantity_selector input {
    width: 40px;
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    color: #041E33;
    font-weight: 500;
    text-align: center; }

.ecommerce_31 .advantages li {
  list-style: none;
  position: relative; }
  .ecommerce_31 .advantages li:before {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: -12px;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #041E33; }

@media (max-width: 991.98px) {
  .ecommerce_31 .img_link {
    margin-right: 5px; } }

.ecommerce_32 .slider_menu .slick-arrow {
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: #EBEAED;
  border-radius: 100%; }
  .ecommerce_32 .slider_menu .slick-arrow:before {
    width: 100%;
    height: 100%;
    background-size: 7px auto;
    background-position: 50% 50%; }
  .ecommerce_32 .slider_menu .slick-arrow:hover {
    background-color: #d1cfd5; }
    .ecommerce_32 .slider_menu .slick-arrow:hover:before {
      opacity: 1; }

.ecommerce_32 .slider_menu img {
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_32 .slider_menu img:hover {
    opacity: 0.8; }

.ecommerce_32 input[type=radio]:checked + label:before {
  content: "\f00c";
  color: #ffffff;
  text-align: center; }

.ecommerce_32 input[type=radio] + label:before {
  border: none;
  width: 22px;
  height: 22px;
  line-height: 22px;
  color: #ffffff; }

.ecommerce_32 input[type=radio] + label {
  margin: 0 2px;
  width: 22px;
  height: 22px; }

.ecommerce_32 .colors_border {
  border: 2px solid #EBEAED;
  padding: 0 12px; }

.ecommerce_32 .quantity_selector {
  border: 2px solid #EBEAED;
  overflow: hidden; }
  .ecommerce_32 .quantity_selector .control {
    width: 36px;
    line-height: 36px;
    background: transparent; }
    .ecommerce_32 .quantity_selector .control:hover {
      background: #EBEAED; }
    .ecommerce_32 .quantity_selector .control::-moz-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_32 .quantity_selector .control::-webkit-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_32 .quantity_selector .control::selection {
      background: transparent;
      color: #041E33; }
  .ecommerce_32 .quantity_selector input {
    width: 40px;
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    color: #041E33;
    font-weight: 500;
    text-align: center; }

@media (max-width: 1199.98px) {
  .ecommerce_32 .inner {
    margin-left: 0; }
  .ecommerce_32 .top_form {
    margin-top: 10px; }
  .ecommerce_32 .buttons {
    margin-top: 30px; }
  .ecommerce_32 .bottom_form {
    margin-top: 30px; }
    .ecommerce_32 .bottom_form .text-adaptive {
      max-width: 370px; } }

@media (max-width: 991.98px) {
  .ecommerce_32 .text-adaptive {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 369.98px) {
  .ecommerce_32 .quantity, .ecommerce_32 .colors, .ecommerce_32 .buttons a, .ecommerce_32 .buttons button {
    margin-left: 10px;
    margin-right: 10px; } }

.ecommerce_33 .remove_product {
  width: 45px;
  height: 45px;
  top: 30px;
  right: 0;
  cursor: pointer;
  z-index: 10; }
  .ecommerce_33 .remove_product:hover svg path {
    stroke: #041E33; }
  .ecommerce_33 .remove_product svg path {
    stroke: #041E33;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }

.ecommerce_33 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_33 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_33 .colors_border {
  border: 2px solid #EBEAED;
  padding: 0 8px; }
  .ecommerce_33 .colors_border input[type=radio]:checked + label:before {
    content: "\f00c";
    color: #ffffff;
    text-align: center; }
  .ecommerce_33 .colors_border input[type=radio] + label:before {
    border: none;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color: #ffffff; }
  .ecommerce_33 .colors_border input[type=radio] + label {
    margin: 0 2px;
    width: 22px;
    height: 22px; }

.ecommerce_33 .sizes input[type=radio]:checked + label {
  background: #041E33;
  color: #ffffff;
  border-color: #041E33; }

.ecommerce_33 .sizes input[type=radio] + label:before {
  display: none; }

.ecommerce_33 .sizes input[type=radio] + label {
  width: auto;
  height: 40px;
  line-height: 36px; }

.ecommerce_33 .sizes label {
  padding: 0 12px;
  border: 2px solid #EBEAED;
  border-right: none; }
  .ecommerce_33 .sizes label:first-of-type {
    border-radius: 20px 0 0 20px; }
  .ecommerce_33 .sizes label:last-of-type {
    border-radius: 0 20px 20px 0;
    border-right: 2px solid #EBEAED; }
  .ecommerce_33 .sizes label:hover {
    color: #041E33; }

.ecommerce_33 .quantity_selector {
  border: 2px solid #EBEAED;
  overflow: hidden; }
  .ecommerce_33 .quantity_selector .control {
    width: 36px;
    line-height: 36px;
    background: transparent; }
    .ecommerce_33 .quantity_selector .control:hover {
      background: #EBEAED; }
    .ecommerce_33 .quantity_selector .control::-moz-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_33 .quantity_selector .control::-webkit-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_33 .quantity_selector .control::selection {
      background: transparent;
      color: #041E33; }
  .ecommerce_33 .quantity_selector input {
    width: 40px;
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    color: #041E33;
    font-weight: 500;
    text-align: center; }

@media (max-width: 1199.98px) {
  .ecommerce_33 .product .inner {
    margin-left: 15px; }
  .ecommerce_33 .label_total {
    margin-left: 23px; } }

@media (max-width: 991.98px) {
  .ecommerce_33 .label_total {
    margin-left: 0; } }

@media (max-width: 767.98px) {
  .ecommerce_33 .product_total {
    height: auto; } }

@media (max-width: 481.98px) {
  .ecommerce_33 .product .inner {
    margin-top: 20px;
    margin-left: 0;
    max-width: 100%;
    width: 100%; } }

.ecommerce_34 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_34 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_34 .quantity_selector {
  border: 2px solid #EBEAED;
  overflow: hidden; }
  .ecommerce_34 .quantity_selector .control {
    width: 36px;
    line-height: 36px;
    background: transparent; }
    .ecommerce_34 .quantity_selector .control:hover {
      background: #EBEAED; }
    .ecommerce_34 .quantity_selector .control::-moz-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_34 .quantity_selector .control::-webkit-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_34 .quantity_selector .control::selection {
      background: transparent;
      color: #041E33; }
  .ecommerce_34 .quantity_selector input {
    width: 40px;
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    color: #041E33;
    font-weight: 500;
    text-align: center; }

.ecommerce_34 .total, .ecommerce_34 .subtotal, .ecommerce_34 .delivery {
  min-width: 115px; }

@media (max-width: 1199.98px) {
  .ecommerce_34 .address_form {
    padding-right: 40px; } }

@media (max-width: 767.98px) {
  .ecommerce_34 .address_form {
    padding-top: 20px;
    padding-right: 0px; }
    .ecommerce_34 .address_form .block {
      margin-bottom: 15px; } }

@media (max-width: 575.98px) {
  .ecommerce_34 .total, .ecommerce_34 .subtotal, .ecommerce_34 .delivery {
    min-width: 50px; } }

.ecommerce_35 .slider_menu .slick-track {
  position: relative;
  border-bottom: 3px solid #EBEAED; }

.ecommerce_35 .slider_menu a {
  width: 50%; }
  .ecommerce_35 .slider_menu a:after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background: #041E33;
    position: absolute;
    right: 0;
    bottom: -3px;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    z-index: 10000; }
  .ecommerce_35 .slider_menu a:last-child:after {
    left: 0;
    right: auto; }
  .ecommerce_35 .slider_menu a.slick-current {
    color: #041E33; }
    .ecommerce_35 .slider_menu a.slick-current:after {
      width: 100%; }

.ecommerce_35 .img_link img {
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.ecommerce_35 .img_link:hover img {
  opacity: 0.8; }

.ecommerce_35 .quantity_selector {
  border: 2px solid #EBEAED;
  overflow: hidden; }
  .ecommerce_35 .quantity_selector .control {
    width: 36px;
    line-height: 36px;
    background: transparent; }
    .ecommerce_35 .quantity_selector .control:hover {
      background: #EBEAED; }
    .ecommerce_35 .quantity_selector .control::-moz-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_35 .quantity_selector .control::-webkit-selection {
      background: transparent;
      color: #041E33; }
    .ecommerce_35 .quantity_selector .control::selection {
      background: transparent;
      color: #041E33; }
  .ecommerce_35 .quantity_selector input {
    width: 40px;
    border-left: 2px solid #EBEAED;
    border-right: 2px solid #EBEAED;
    color: #041E33;
    font-weight: 500;
    text-align: center; }

.ecommerce_35 .total {
  min-width: 115px; }

@media (max-width: 1199.98px) {
  .ecommerce_35 .slider, .ecommerce_35 .slider_menu {
    padding-right: 40px; } }

@media (max-width: 991.98px) {
  .ecommerce_35 .slider, .ecommerce_35 .slider_menu {
    padding-right: 0px; }
  .ecommerce_35 .products {
    padding-top: 0; } }

@media (max-width: 575.98px) {
  .ecommerce_35 .slider_menu a {
    line-height: 60px; }
  .ecommerce_35 .slider {
    margin-top: 40px; }
  .ecommerce_35 .total {
    min-width: 50px; } }

.ecommerce_36 .with_border {
  border-bottom: 2px solid #EBEAED; }

.ecommerce_36 .product .with_border {
  padding-top: 28px;
  padding-bottom: 28px; }

.ecommerce_36 .quantity_selector .control {
  right: 20px;
  top: 50%;
  width: 16px;
  height: 12px;
  line-height: 8px;
  font-size: 12px; }
  .ecommerce_36 .quantity_selector .control.greater {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.ecommerce_36 .remove_product {
  width: 45px;
  height: 45px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 10; }
  .ecommerce_36 .remove_product:hover svg path {
    stroke: #041E33; }
  .ecommerce_36 .remove_product svg path {
    stroke: #041E33;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }

.ecommerce_36 .total {
  min-width: 70px; }

@media (max-width: 1199.98px) {
  .ecommerce_36 .total {
    min-width: 65px; } }

@media (max-width: 991.98px) {
  .ecommerce_36 .total {
    min-width: 95px; } }

@media (max-width: 767.98px) {
  .ecommerce_36 .product .title, .ecommerce_36 .product .variants {
    padding-top: 0px;
    padding-bottom: 0px; }
  .ecommerce_36 .with_border {
    border: none; }
  .ecommerce_36 .price_holder {
    position: static; }
  .ecommerce_36 .remove_product {
    top: 0;
    -webkit-transform: none;
            transform: none; }
  .ecommerce_36 .total {
    min-width: 0px; } }

.ecommerce_37 .holder {
  border: 2px solid #EBEAED; }

.ecommerce_37 .delivery_type input[type=radio]:checked + label {
  background: #041E33;
  color: #ffffff;
  border-color: #041E33; }

.ecommerce_37 .delivery_type input[type=radio] + label:before {
  display: none; }

.ecommerce_37 .delivery_type input[type=radio] + label {
  line-height: 46px; }

.ecommerce_37 .delivery_type label {
  height: 50px;
  border: 2px solid #EBEAED;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .ecommerce_37 .delivery_type label:hover {
    color: #041E33; }

@media (max-width: 399.98px) {
  .ecommerce_37 .holder {
    padding: 30px 20px; } }

.ecommerce_38 .product {
  border-bottom: 2px solid #EBEAED; }

.ecommerce_38 .remove_product {
  width: 45px;
  height: 45px;
  top: 8px;
  right: -45px;
  cursor: pointer;
  z-index: 10; }
  .ecommerce_38 .remove_product:hover svg path {
    stroke: #041E33; }
  .ecommerce_38 .remove_product svg path {
    stroke: #041E33;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }

.ecommerce_38 .total, .ecommerce_38 .subtotal, .ecommerce_38 .delivery {
  min-width: 30px; }

@media (max-width: 1199.98px) {
  .ecommerce_38 .remove_product {
    right: -15px; } }

@media (max-width: 767.98px) {
  .ecommerce_38 .btn {
    margin-top: 0px; } }

@media (max-width: 575.98px) {
  .ecommerce_38 .total, .ecommerce_38 .subtotal, .ecommerce_38 .delivery {
    min-width: 50px; } }

#produtos {
  background: -webkit-gradient(linear, right top, left top, from(#004B6B), to(#041E33));
  background: -webkit-linear-gradient(right, #004B6B, #041E33);
  background: linear-gradient(270deg, #004B6B, #041E33);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 27s ease infinite;
          animation: AnimationName 27s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#ncommand {
  background: -webkit-gradient(linear, right top, left top, from(#004B6B), to(#041E33));
  background: -webkit-linear-gradient(right, #004B6B, #041E33);
  background: linear-gradient(270deg, #004B6B, #041E33); }

header.bg-dark {
  background-image: url("../images/home/bg.png");
  background-position: center -200px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 100%; }
  header.bg-dark .container {
    max-width: 90% !important; }
    header.bg-dark .container .nav .dropdown-toggle:after {
      font-size: 10px;
      margin-left: 1em; }
    header.bg-dark .container .nav .dropdown-item {
      padding: .25rem 0.75rem; }

footer .container {
  max-width: 90% !important; }

#sobre {
  background: #FFF url("../images/home/bg-sobre.png");
  background-position: -300px center;
  background-size: cover;
  background-repeat: no-repeat; }

#verticais {
  background: -webkit-gradient(linear, right top, left top, from(#004B6B), to(#041E33));
  background: -webkit-linear-gradient(right, #004B6B, #041E33);
  background: linear-gradient(270deg, #004B6B, #041E33);
  background-size: 400% 400%; }

#clientes {
  background: #F9F9F9;
  background-size: 400% 400%; }
  #clientes .block {
    border: 2px solid #EEE; }

#vagas .btn {
  background: #004B6B; }

@media (min-width: 1200px) {
  header.bg-dark .container {
    max-width: 90% !important; }
  footer .container {
    max-width: 90% !important; } }

.destaque-no-fundo-escuro {
  color: #029ADC; }

.destaque-no-fundo-claro {
  color: #00709E; }

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px; }