#particles-js {
  background: linear-gradient(0deg, $ness-cor-azul-escurissimo 0%, lighten($ness-cor-azul-escurissimo, 6) 100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.contato-sec {
  background: none;
  i.fas, i.far {
    color: $ness-cor-complementar;
  }
}

#form-de-contato {
  input, textarea {
    &::placeholder {
      color: black;
      opacity: .4;
      font-style: italic;
    }
  }
}
