//nosso estilo sempre é melhor

// estilos das paginas
@import "health";
@import "home";


// *********************************
// ESTILOS PRESENTES EM TODAS AS PAGINAS
// *********************************
.destaque-no-fundo-escuro {
  /* standard gradient background */
  background: linear-gradient($ness-cor-azul-clarissimo, $ness-cor-azul-claro);
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.destaque-no-fundo-claro {
  /* standard gradient background */
  background: linear-gradient($ness-cor-azul-claro, $ness-cor-azul-escuro);
  /* clip hackery */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  display: block;
}

footer {
  .container {
    max-width: 90% !important;
  }
}

.header-da-seccao {
  text-align: center;
}
