//nosso estilo sempre é melhor

// estilos das paginas
@import "health";
@import "home";


// *********************************
// ESTILOS PRESENTES EM TODAS AS PAGINAS
// *********************************
.destaque-no-fundo-escuro {
  color: $ness-cor-azul-clarissimo;
}
.destaque-no-fundo-claro {
  color: $ness-cor-azul-medio;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  display: block;
}

footer {
  .container {
    max-width: 90% !important;
  }
}