//nosso estilo sempre é melhor

// estilos das paginas
@import "health";
@import "home";


// *********************************
// ESTILOS PRESENTES EM TODAS AS PAGINAS
// *********************************
.destaque-no-fundo-escuro {
  color: $ness-cor-azul-clarissimo;
}
.destaque-no-fundo-claro {
  color: $ness-cor-azul-medio;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}