#health {

  #produtos {
    background: linear-gradient(270deg, $ness-cor-azul-escuro, $ness-cor-azul-escurissimo);
    background-size: 400% 400%;

    animation: AnimationName 27s ease infinite;
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
  }

  #ncommand {
    background: linear-gradient(270deg, $ness-cor-azul-escuro, $ness-cor-azul-escurissimo);
  }

  .bg-dark {
    background: linear-gradient(270deg, $ness-cor-azul-escurissimo, $ness-cor-azul-escuro);
    background-color: $ness-cor-azul-escuro !important;
  }
  
}
