#health {

  .servicos {
    ul {
      list-style: none;
      padding: 0;
      li {
        line-height: 1.1;
        font-size: 1.1em;
        margin-bottom: 2em;
        margin-left: 2.5em;
        img {
          height: 62px;
          margin-right: .6em;
          margin-left: -2.5em;
          margin-top: -.6em;
          position: absolute;
        }
      }
    }
  }

  #produtos {
    background: linear-gradient(270deg, $ness-cor-azul-escuro, $ness-cor-azul-escurissimo);
    background-size: 400% 400%;
    // animation: AnimationName 10s ease infinite;
    // @keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    a {
      color: white;
      transition: all .5s cubic-bezier(.23,.51,.4,1);
      &:hover {
        background: $ness-cor-azul-claro;
        box-shadow: 0 10px 20px -5px rgba(0,0,0,.5), 0 5px 10px -5px rgba(0,0,0,.5);
      }
    }
    .mini-descricao {
      opacity: .7;
    }
  }

  #nCommand, #nVoice {
    // background: linear-gradient(270deg, $ness-cor-azul-escuro, $ness-cor-azul-escurissimo);
  }

  .bg-dark {
    background: linear-gradient(270deg, $ness-cor-azul-escurissimo, $ness-cor-azul-escuro);
    background-color: $ness-cor-azul-escuro !important;
  }

  .header-do-detalhamento {
    .logo-do-produto {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      .espaco-branco-cima {
        height: 12vh;
        width: 100%;
      }
      img.logo {
        height: 30vh;
        // max-height: 200px;
        // min-height: 80px;
        max-width: 90%;
      }
    }
    img.curva {
      width: 100%;
      margin-bottom: 100px;
    }
  }


}
