.slide {
  background: url('../images/home/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#sobre {
  background: #FFF url('../images/home/bg-sobre.png');
  background-position: -300px center;
  background-size: cover;
  background-repeat: no-repeat;
}

#verticais {
  background: linear-gradient(270deg, $ness-cor-azul-escuro, $ness-cor-azul-escurissimo);
  background-size: 400% 400%;
}

#clientes {
  background: #F9F9F9;
  background-size: 400% 400%;

  .block {
    border: 2px solid #EEE;
  }
}

#vagas {
  .btn {
    background: #004B6B;
  }
}


#contato { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */

  #map { 
    height: 100%; 
    width: 100%; 
    position:absolute; 
    top: 0; 
    left: 0; 
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
}


@media (min-width: 1200px){
  header.bg-dark {
    .container {
      max-width: 90% !important;
    }
  }

  footer {
    .container {
      max-width: 90% !important;
    }
  }
}