nav {
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 20px 0;
	@include transicao-1;
  background-color: transparent;
	.container {
    padding: 0;
    display: flex;
  	align-items: center;
  	justify-content: space-between;
    .logo-sticky {
      display: none;
    }
		ul.nav {
			li.nav-item {
				a {
					color: #90CDEA;
					line-height: 50px;
				}
        &:first-child {
          a {
            margin-left: 0;
          }
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
        // li:hover {
  			// 	.sub-menu {
  			// 		display: block;
  			// 	}
  			// }
				// .sub-menu {
				// 	position: absolute;
				// 	top: 50px;
				// 	background: white;
				// 	min-width: 180px;
				// 	z-index: 999999;
				// 	display: none;
				// 	margin: 0px;
				// 	padding: 0px;
				// 	li {
				// 		text-align: left;
				// 		padding: 0px 15px;
				// 		border-bottom: 1px solid #F9F9F9;
				// 		height: 30px !important;
				// 		line-height: 30px;
				// 		a {
				// 			color: $ness-cor-azul-claro;
				// 			line-height:inherit !important;
				// 		}
				// 	}
				// 	li:last-child {
				// 		border-bottom: 0px;
				// 	}
				// 	li:hover {
				// 		background: $ness-cor-azul-medio;
				// 		a {
				// 			color: #FFF;
				// 		}
				// 	}
				// }
			}
		}
	}
}

.sticky {
	nav {
		background-color: white;
		@include transicao-1;
    @include sombra-3;
		.container {
			.logo {
				.logo-sans-bg {
					display: none;
				}
				.logo-sticky {
					display: block;
				}
			}

			ul.nav {
				li.nav-item {
					a {
						color: $ness-cor-azul-escuro;
						line-height: 50px;
					}
				}
			}
		}
	}
}

.navigation_mobile {
	@include sombra-3;
  a.close_menu {
    color: $ness-cor-azul-escurissimo;
  }
  a {
    color: $ness-cor-azul-escurissimo;
  }
}
#loguinho-mobile {
	position: absolute;
	top: 24px;
	right: 20px;
	img {
		height: 36px;
	}
}

.open_menu {
	@include sombra-3;
}
