nav {
	position: fixed;
	z-index: 2;
	width: 100%;
	padding: 20px 0;
	@include transicao-1;
  background-color: transparent;
	.container {
    padding: 0;
    display: flex;
  	align-items: center;
  	justify-content: space-between;
    .logo-sticky {
      display: none;
    }
		ul.nav {
			display: flex;
	  	align-items: center;
			li.nav-item {
				a {
					color: lighten(#FFFFFF, 20);
					opacity: .7;
					line-height: 50px;
					&.active {
						color: $ness-cor-complementar;
					}
				}
        &:first-child {
          a {
            margin-left: 0;
          }
        }
        &:last-child {
          a {
            margin-right: 0;
          }
        }
				.dropdown {
					button {
						color: white;
						opacity: .7;
						line-height: 50px;
						background: transparent;
					}
					.dropdown-menu {
						box-shadow: 0px 2px 5px rgba(black, .2);
					}
				}
			}
		}
	}
}

.muda-lingua {
	width: 32px;
	height: 32px;
	margin-right: 1em;
	&:last-child {
		margin-right: 0;
	}
	a.toggle-trad {
		width: 28px;
		height: 28px;
		display: inline-block;
		border-radius: 50px;
		&.portugues {
			background-image: url('../images/lang/portuguese.png');
			background-size: cover;
			background-position: center;
		}
		&.ingles {
			background-image: url('../images/lang/english.png');
			background-size: cover;
			background-position: center;
		}
	}
}

.sticky {
	nav {
		background-color: white;
		@include transicao-1;
    @include sombra-3;
		.container {
			.logo {
				.logo-sans-bg {
					display: none;
				}
				.logo-sticky {
					display: block;
				}
			}

			ul.nav {
				li.nav-item {
					a {
						color: $ness-cor-azul-escuro;
						line-height: 50px;
						opacity: 1;
						&.contato {
							color: darken($ness-cor-complementar,10);
						}
					}
					.dropdown {
						button {
							color: $ness-cor-azul-escuro;
							background: transparent;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

.navigation_mobile {
	@include sombra-3;
  a.close_menu {
    color: $ness-cor-azul-escurissimo;
  }
  a {
    color: $ness-cor-azul-escurissimo;
  }
	.socials {
		a {
			opacity: .5;
			font-size: 1.6em;
		}
	}
	.linguas {
		margin-top: 1em;
		border-top: 1px solid rgba(0,0,0,.2);
		padding-top: 1em;
		.toggle-trad {
			width: 48px;
			height: 48px;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
			width: 48px;
			height: 48px;
			display: inline-block;
			border-radius: 50px;
			background-color: pink;
			&.portugues {
				background-image: url('../images/lang/portuguese.png');
				background-size: cover;
				background-position: center;
			}
			&.ingles {
				background-image: url('../images/lang/english.png');
				background-size: cover;
				background-position: center;
			}
		}
	}
}
#loguinho-mobile {
	position: absolute;
	top: 24px;
	right: 20px;
	img {
		height: 36px;
	}
}

.open_menu {
	@include sombra-3;
}
