RewriteEngine on

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.ness.com.br/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-zA-Z0-9_-]+)/([a-z]+)/([0-9]+)-([a-zA-Z0-9_-]+)/page/([0-9]+)([/]?)$ index.php?Fuseaction=$1&action=$2&channel=$3&NumPagina=$5
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)-([a-zA-Z0-9_-]+)/page/([0-9]+)([/]?)$ index.php?Fuseaction=$1&channel=$2&NumPagina=$4
RewriteRule ^([a-zA-Z0-9_-]+)/([a-z]+)/page/([0-9]+)([/]?)$ index.php?Fuseaction=$1&action=$2&NumPagina=$3
RewriteRule ^([a-zA-Z0-9_-]+)/page/([0-9]+)([/]?)$ index.php?Fuseaction=$1&NumPagina=$2

RewriteRule ^([a-zA-Z0-9_-]+)/([a-z]+)/([0-9]+)-([a-zA-Z0-9_-]+)([/]?)$ index.php?Fuseaction=$1&action=$2&channel=$3
RewriteRule ^([a-zA-Z0-9_-]+)/([0-9]+)-([a-zA-Z0-9_-]+)([/]?)$ index.php?Fuseaction=$1&channel=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([a-z]+)([/]?)$ index.php?Fuseaction=$1&action=$2
RewriteRule ^([a-zA-Z0-9_-]+)([/]?)$ index.php?Fuseaction=$1

ErrorDocument 404 /404.php
